@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import "elements.less";
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}


@font-face{
    font-family: 'BISansNEXT';
    src: url('../fonts/bisansnext.eot');
    src: url('../fonts/bisansnext.eot?#iefix') format('../fonts/embedded-opentype'),url('../fonts/bisansnext.ttf') format('truetype'),url('../fonts/bisansnext.woff') format('woff'),url('../fonts/bisansnext.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'BISansNEXT-Bold';
    src: url('../fonts/bisansnextbold.eot');
    src: url('../fonts/bisansnextbold.eot?#iefix') format('embedded-opentype'),url('../fonts/bisansnextbold.ttf') format('truetype'),url('../fonts/bisansnextbold.woff') format('woff'),url('../fonts/bisansnextbold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: BISansNEXT;
}


/* LOGIN */ 

.error {
	color: red;
    margin: 0px 20px 5px 0px;
    font-weight: bold;
}

	.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/* END LOGON */

/* Variables */
@color1 : white;
@color2 : #004181;
@color3 : #231f20;

#wrapper {
    padding-left: 0;    
}

.table-bordered,
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid lighten(@color3,30%);
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: @color1;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

a{
    color: @color2;
}

.well{
    background-color: transparent;
    border: none;
}

.form-control{
    border-radius: 0;
    border: solid 1px @color2;
    color: @color2;
    &:focus{
        outline: none;
        border: solid 1px @color2;
        box-shadow: none;
    }
}

.btn{
    border-radius: 0;
    &.btn-primary{
        background-color: @color2;
    }
    &.btn-danger{
        color: white;
        border-color: #d43f3a;
    }
}


INPUT[type="checkbox"],
INPUT[type="radio"]{
    -webkit-appearance: none;
    border: solid 1px @color2;
    bordder-radius: 0;
    width: 15px;
    height: 15px;
    background-color: white;
    cursor: pointer;
    &:checked{
        background-color: @color2;
    }
    &:focus{
        outline: none;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: @color1;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: @color1;
    background-color: darken(@color2,10%);
}


.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: @color1;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Pagination */

.pagination{
    li{
        a{
            .rounded(0px)!important;    
        }
        span{
            .rounded(0)!important;
        }
    }
    &>.active{
        a{
            background-color: @color2;
            &:focus,
            &:hover{
                background-color: @color2;
            }
        }
        span{
            &:focus,
            &:hover{
                background-color: @color2;
            }
        }
    }
    .prev,
    .next{
        span{
            background-color: @color1;
            border: solid 1px @color2;
            color: @color2;
            cursor: pointer;
        }
        &:hover,
        &:focus{
            span{
                background-color: @color2;
                color: white;
                border: solid 1px @color2;
            }
        }
        &.disabled{
            span{
                background-color: @color1;
                border: solid 1px lighten(@color3,40%);
                color: lighten(@color3,40%);
            }
        }
    }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.swal2-popup.swal2-styled{
    background-color: @color2;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: @color2;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        li{
            a{
                i{
                    padding-right: 35px;
                }
            }
        }
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: darken(@color2,10%) !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: @color1;    
}

.side-nav>li>ul>li>a:hover {
    color: @color1;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: @color1;
}

.navbar-brand {
    padding: 5px 15px;
    img{
        .scale(0.8);
    }
}

.navbar-collapse{
    background-color: @color2;
}