<section id="subscription">
	<h2>Demande écrite d échantillons</h2>
	<form>
		{# Part I #}
		<fieldset>
			<legend>Part I</legend>
			<input type="text" name="nom" autocomplete="on" placeholder="Nom">
			<input type="text" name="prenom" autocomplete="on" placeholder="Prenom">
			<input type="text" name="adresse" autocomplete="on" placeholder="Adresse">
			<input type="text" name="inami" placeholder="Code INAMI">
		</fieldset>

		{# Part II #}
		<fieldset>
			<legend>Part II</legend>
			<table>
				<th></th>
				<th>Monsters/echantillons</th>
				<th>Aantal/Quantite</th>
				<tr>
					<td>109062</td>
					<td>Spiolto Respimat/4ML 1/2,5+2,5MCG</td>
					<td>
						<select>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>109062</td>
					<td>Spiolto Respimat/4ML 1/2,5+2,5MCG</td>
					<td>
						<select>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</select>
					</td>
				</tr>
			</table>
		</fieldset>

		{# Part III #}
		<fieldset>
			<legend>Part III</legend>
			
		</fieldset>
	</form>
</section>