.navbar-header {
  a {
    font-size: 18px !important;
    line-height: 26px;
  }
}
.navbar-nav [class^="fui-"]{
    font-size:20px;
    line-height: 20px;
  }


#header .navbar .navbar-nav > li > a{
  line-height: 30px;
  font-size: 19px;
}
.page{
  width:100%;
  height:768px;
  position:absolute;
  top:0px;
  left:0px;
  .scale(0);
  &.active {
    .scale(1)
  }
}

#container {
  position:relative;
  width:100%;
}
#modalContainer {
  label {
    font-size:18px;
  }
  input,select {
    font-size:18px;
    height: 50px;
    padding: 10px 10px;
  }
}
#pharmacies-pharmacies,#missions-missions, #pharmacies-pharmacie-detail{
  .todo {
    padding:0px;
  }

  input[type="search"] {
    font-size: 20px;
  }
  h4 {
    font-size:20px;
  }
  p {
    font-size:18px;
  }
  ul li {
    font-size:18px;
  }
  a {
    font-size:18px;
  }
}

.task_panel {
  .scale(0);
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 15px;
  height: 100%;
  &.active {
    .scale(1);
  }
}

.todo{
  padding: 0 15px;
}
.todo .signature{
  margin:0!important;
}
.todo>p{
  margin: 5px 0 15px 0;
}
.todo>.btn-success{
  margin: -10px 0 15px 0 !important;
  width: 100%!important;
}
#editPharmacie .form-group{
  padding: 20px;
}
select {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
  color: #34495e;
  border: 1px solid #34495e;
  background-color: #f0f0f0;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}


.task-btn {
  position: absolute;
  left:0;
  bottom:25px;
  width: 100%;
}

.subtask {
  color:white;
}

input.error,select.error {
  border: 1px solid red !important;
}

.modal-dialog.large {
  width: 85%;
}

.missions-list h3{
  //max-width: 80%;
  font-size:20px !important;
}

input {
  color:black;
}

.wrapper-bottom-missions {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  bottom: 45px;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}

#timer {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}

.hidden {
  display: none;
}

#sign .todo .signature {
  height: auto !important;
  min-height: auto !important;
}

.task-validate-btn {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
  &.hidden {
    opacity:0;
    visibility: hidden;
  }
}

html{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.detail-pharmacie-task li.done {
  color:#1abc9c;
  font-weight: bold;
}

ul.missions-list li.mission ul {
  height: auto !important;
}


.timer {
  font-size:14px !important;
}



#task .todo ul.missions-list > li > ul > li.active a  {
  color:#1abc9c;
}