.subtask .select-wrapper:before {
  content: '\f0d7';
  top: 5px;
  color:black;
}

div.modal-dialog.large {
    z-index: 9999999999999 !important;
}

.ajax {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:999;
    opacity:0.5;
    background:url(../img/icons/gears.gif) 50% 50%;
    background-repeat: no-repeat;
    background-color: #FFF;
    display:none;
}