/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.border-shadow {
  border-color: #2f4154;
  border-width: 2px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
