@import "mixins.less";
@import "variables.less";


// Variables

@mainFontSize : 20px!important;
@boxesSizes : 40px;

// Mixins

.icheckCorrection(@Sizes){
  //	Mininimal blue checkboxes corrections

  // icheckBox correction
  .icheckbox_minimal-blue{
	height: @Sizes;
	width: @Sizes;
	margin-top: 4px!important;
	background-position: 0 0;

	&.hover{
	  background-position: -@Sizes 0;
	}
	&.checked{
	  background-position: -(2*@Sizes) 0;
	}
	&.disabled{
	  background-position: -0px 0;
	  cursor: default;
	}
	&.checked.disabled{
	  background-position: -(4*@Sizes) 0;
	}
  }

  // iradio correction
  .iradio_minimal-blue {
	background-position: -(5*@Sizes) 0;

	&.hover{
	  background-position: -(6*@Sizes) 0;
	}
	&.checked{
	  background-position: -(7*@Sizes) 0;
	}
	&.disabled{
	  background-position: -(8*@Sizes) 0;
	  cursor: default;
	}
	&.checked.disabled{
	  background-position: -(9*@Sizes) 0;
	}
  }
}


// CheckBoxes customization

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 5px;
  width: 30px; height: 30px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 10px; left:7px;
  font-size: 24px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border-color: darkgrey ;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


#task .tile-content {
  height: 520px;
}

#task .todo ul.missions-list{
  max-height: 635px;
}
.todo ul{
  height:auto;
}

input[type="checkbox"]{
  width: 30px;
  height: 30px;
  background: white;
}

select[name="merchandiser"], select[name="zone"], .pharmacyList {
  .transition(0.5s);
  box-shadow: #34495e 0 0 0 1px ;
  border: solid 3px transparent !important;
  &.error{
	border: solid 3px red !important;
	padding: 8px 17px;
	background-color: #ff919c!important;
	box-shadow: transparent 0 0 0 1px;
  }
}

.pharma-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 350px;
  overflow: hidden;
  font-size: 18px!important;
}


.appearance(@value){
  -webkit-appearance: @value;
  -moz-appearance:    @value;
  appearance:         @value;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {


  textarea[name="notes"]{
	border: solid 1px black;
	resize: none;
  }

  .modal-header .close{
	margin-top: -10px;
	font-size: 30px!important;
  }

  #login {
	padding-top: 100px;
  }
  select[name="merchandiser"], select[name="zone"], .todo-search-field{
	height: 70px !important;
  }
  button[data-class="home"], button[data-dismiss="modal"], .modal-footer .btn-info{
	height: 70px;
  }
  .missions-list h3{
	padding:15px;
  }

  #editPharmacie .form-group{
	padding: 20px;
  }
  a[data-toggle="modal"]{
	height: 40px;
	line-height: 20px;
  }

  .todo li:after{
	width: 30px;
	height: 30px;
	font-size: 13px!important;
	line-height: 30px!important;
	top: 23px;
  }

  // Updating the size of the icheck buttons
  .icheckCorrection(@boxesSizes);
  .icheckbox_minimal-blue{
	input[type="checkbox"]{
	  width: @boxesSizes;
	  height:@boxesSizes;

	}
  }

  .list label{
	line-height: 2;
	font-size: @mainFontSize;
  }
  select{
	.appearance(none);
	background-color: white;
	font-size: @mainFontSize;
  }
  .select-wrapper{
	position: relative;
	&:before{
	  content: '\f0d7';
	  font-family: FontAwesome;
	  display: inline-block;
	  position: absolute;
	  right: 20px;
	  top: 10px;
	  font-size: 30px;
	  pointer-events: none;
	}
  }
  button{
	font-size: @mainFontSize;
  }
  .btn-success{box-shadow: none;}
  #login .btn-group.btn-list .btn{
	.appearance(none);
	background-color: white;
  }

}
