.animate(@name,@duration,@other){
	animation-name: @name;
	-moz-animation: @name @duration @other;
	-webkit-animation: @name @duration @other;
	-o-animation: @name @duration @other;
	animation: @name @duration @other;
}