html{
	font-size: 16px;
}
html,
body{
	width: @width;
	height: @height;
	//position: relative;
	overflow: hidden;
}
body{
	background-color: @color1;
}



textarea {
    resize: none;
    width: 100%;
    height: 350px;
}

*{
	color: @color2;
	font-family: BISansNEXT;
	//.rounded(0)!important;
}

h2{
	font-size: 1.8rem;
}

table.alternate{
	tr{
		&:nth-child(even){
			background-color: lighten(lightgrey,13%);
		}
	}
}




@padding: 8px;

.sf-nav-number,
.sf-nav-number-inner,
.sf-nav-subtext{
	color: white;
}
.sf-viewport{
	.sf-step-name{
		font-size: 1.2rem;
	}
}
#topbar{
	border-bottom: solid 1px @color2;
	padding: @padding 0;
	margin-bottom: 15px;
	#appName{
		font-size: 1.2rem;
		font-weight: 700;
	}
	#user{
		margin-left: 30%;
	}
	#quit{
		i{
			font-size: 1.2rem;
			margin-left: 10px;
		}
	}
}

#login{
	.form .style1(40%);
	.translate(0,-50%);
	margin-top: 30%;
	INPUT{
		margin-top: 20px;
	}
}
#subscription{
	padding: @padding;
	.form .style1(90%);
	
	table{
		//margin-top: 50px;
		.table .style1;
	}
	.finish-btn{padding: 0;}
	.select-parent{
		padding: 0;
		SELECT{
			padding: @padding;
		}
	}
	INPUT[type='submit']{
		display: none;
		width: 110px;
	}
}
legend{
	color: @color2;
}

.check-day{
	position: relative;
	&.active{
		//background-color: @color2;
		//border-color: white!important;
		&:before{
			content: "X";
		    position: absolute;
		    left: 50%;
		    right: 50%;
		    .translate(-50%,-50%);
		}
	}
}


#part1{
	.row{
		margin-top: 5px;
	}
}
#thanks{
	.form .style1(50%);
	
	table{
		margin-top: 50px;
		.table .style1;
	}
}
#logo{
	background-image: url(../img/BI_Logo.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 5%;
	bottom: 40px;
	width: 170px;
	height: 50px;
}

#lang{
	//width: 10%;
	position: absolute;
	left: 0;
	margin-left: 6%;
	padding: 0;
	bottom: 30px;
	background-color: @color1;
	li{
		display: inline-block;
		padding: 10px;
		border: solid 1px @color2;
		border-radius: 5px;
		&.active{
			background-color: @color2;
			color: white;
		}
	}
}

.sf-t2{
	.sf-nav{
		li{
			border: solid 1px @color2;
			background-color: white;
			height: 50px;
			line-height: 50px;
			.sf-nav-number{
				color: @color2;
				.sf-nav-number-inner{
					font-size: 40px;
				}
			}
			.sf-nav-number,
			.sf-nav-number-inner,
			.sf-nav-subtext{
				color: @color2;
			}
			&.sf-active{
				background-color: @color2;
				color: white;
				.sf-nav-number,
				.sf-nav-number-inner,
				.sf-nav-subtext{
					color: white;
				}
				&:after{
					border-color: transparent @color2 @color2 transparent!important;
				}
			}
			&:hover{
				background-color: @color2!important;
				color: white!important;
				.sf-nav-number,
				.sf-nav-number-inner,
				.sf-nav-subtext{
					color: white;
				}
			}
		}
	}
}

.sf-t2 .sf-nav-step.sf-nav-step-disabled,
.sf-t2 .sf-nav-step.sf-nav-unlink,
.sf-t2.sf-wizard .sf-btn.sf-btn-disabled,
.sf-t2.sf-rtl.sf-wizard .sf-btn.sf-btn-disabled {
    background: #bbc1c7!important;
}

.swal2-confirm.swal2-styled,
.sf-btn.sf-btn-next,
.sf-btn.sf-btn-prev{
	background-color: @color2!important;
}
.sf-t1 .sf-nav li,
.sf-t1 .sf-nav-number{
	background-color: @color2!important;
	&:before{
	    border-top-color: @color2!important;
	    border-bottom-color: @color2!important;
	}
	&:after{
	    border-left-color: @color2!important;
	}
}

.ajax {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:999;
	opacity:0.5;
	background:url(../img/icons/gears.gif) 50% 50%;
	background-repeat: no-repeat;
	background-color: #FFF;
	display:none;
}

.awesomplete {
	margin-top: 0px !important;
	display: block ;
	ul{
		padding: @padding;
	}
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 35px;
  height: 35px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 24px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border-color: darkgrey ;
}

.action {
    cursor: pointer;
}
.serviceWrapper {
	display:none;
}