.absolute-center{
	position: absolute;
	left: 50%;
	top: 50%;
	.translate(-50%,-50%);
}

.form{
	.style1(@width){
		position: relative;
		width: @width;
		left: (100%-@width)/2;
		INPUT{
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
			position: relative;
			display: block;
			//margin-top: @width/20;
			width: 100%;
			
			padding: 8px 10px;
			
			background-color: transparent;
			border: solid 1px @color3l;
			border-radius: 3px;
			color: @color2;
			box-shadow: none;

			.transition(0.5s);
			/*&[type="text"],
			&[type="password"]{
				&:focus{
					.box-shadow( 0 0 5px @color2 );
				}
			}*/
			&[type='submit']{
				//background-color: darken(@color2,20%);
				text-transform: uppercase;
				color: @color1;
				background-color: @color2;
				border: solid 1px @color2;
			}
			&:focus{
				outline: none;
				border-color: @color2;
				box-shadow: 0 0 0 0 @color2;
			}
			&[readonly]{
				background-color: lighten(lightgrey,13%);
			}
		}
		SELECT,OPTION{
			width: 100%;
			border: none;
			border-color: @color2;
			outline: none;
		}
		label{
			font-size: 0.8rem;
		}
	}
	fieldset{background-color: white;}
}
.table{
	.style1{
		width: 100%;
		th,
		td{
			border: solid 1px @color3l;
			padding: 5px;
			text-align: center;
		}
		
	}
}
