/* --------------------------------- */
/* -------------- Fonts ------------ */
/* --------------------------------- */

@font-face{
	font-family: 'BISansNEXT';
	src: url('../fonts/bisansnext.eot');
	src: url('../fonts/bisansnext.eot?#iefix') format('../fonts/embedded-opentype'),url('../fonts/bisansnext.ttf') format('truetype'),url('../fonts/bisansnext.woff') format('woff'),url('../fonts/bisansnext.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'BISansNEXT-Bold';
	src: url('../fonts/bisansnextbold.eot');
	src: url('../fonts/bisansnextbold.eot?#iefix') format('embedded-opentype'),url('../fonts/bisansnextbold.ttf') format('truetype'),url('../fonts/bisansnextbold.woff') format('woff'),url('../fonts/bisansnextbold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/* --------------------------------- */
/* ------------- Colors ------------ */
/* --------------------------------- */

@color1 : white;
@color2 : #004181;
@color3 : #231f20;

@color3l: lighten(@color3,40%);