/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.border-shadow {
  border-color: #2f4154;
  border-width: 2px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
.page {
  width: 100%;
  height: 768px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.page.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#container {
  position: relative;
  width: 100%;
}
.task_panel {
  transform: scale(0);
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 15px;
  height: 100%;
}
.task_panel.active {
  transform: scale(1);
}
select {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
  color: #34495e;
  border: 1px solid #34495e;
  background-color: #f0f0f0;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}
.task-btn {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
}
.subtask {
  color: white;
}
input.error,
select.error {
  border: 1px solid red !important;
}
.modal-dialog.large {
  width: 85%;
}
.missions-list h3 {
  font-size: 20px !important;
}
input {
  color: black;
}
.wrapper-bottom-missions {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  bottom: 35px;
}
.wrapper-bottom-missions.active {
  opacity: 1;
  visibility: visible;
}
#timer {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
#timer.active {
  opacity: 1;
  visibility: visible;
}
.hidden {
  display: none;
}
#sign .todo .signature {
  height: auto !important;
  min-height: auto !important;
}
.task-validate-btn {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}
.task-validate-btn.hidden {
  opacity: 0;
  visibility: hidden;
}
