body{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-position: top;
  top: 0;
  left: 0;
  &:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #ddd;
	opacity: 0.8;
  }
}
.btn-success{
  background-color: #48c9b0;
  .border-shadow;
  &:hover{
	background-color: #20d7b6;
  }
}
.btn-danger{
  background-color: #FF3366;
  .border-shadow;
  &:hover{
	background-color: #ff6f93;
  }
}
.btn-info{
  background-color: #00a6c7;
  .border-shadow;
  &:hover{
	background-color: #32ceed;
  }
}
.btn-white{
  background-color: #fff;
  color: #e30025;
  .border-shadow;
  &:hover{
	color: #e30025;
	background-color: rgba(255, 255, 255, 0.6);
  }
}

.modal-dialog{
  margin-top: 85px;
  .modal-header{
	background-color: #34495e;
	color: #fff;
	.close{
	  color: #fff;
	  font-size: 24px;
	  opacity: 1;
	}
  }
  .modal-body{
	max-height: 510px;
	overflow-y: auto;
  }
}
.upload  .navbar-unread {
	width: 41px;
	height: 40px;
	font-size: 18px;
	line-height: 33px;
	padding-top: 4px;
	top: -5px;
	right: -2px;
	display: block !important;
	background-color: #1abc9c !important;
}
#header {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 99;
  width: 100%;
  .navbar {
	margin-bottom: 25px;
	.navbar-unread {
	  width: 20px;
	  height: 20px;
	  font-size: 14px;
	  line-height: 14px;
	  padding-top: 3px;
	  top: 5px;
	}
	.navbar-nav {
	  > li {
		> a {
		  font-size: 30px;
		  line-height: 30px;
		  padding-top: 12px;
		  padding-bottom: 11px;
		  &.back-btn{
			padding-right: 0;
		  }
		  &.pharma-title{
			font-size: 24px;
		  }
		}
	  }
	}
  }
}
.page{
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s all;
  z-index: 9;
  &.active{
	opacity: 1;
	right: 0;
  }
}

#login{
  padding-top: 175px;
  .btn-group{
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	.btn{
	  width: 100%;
	  margin-bottom: 15px;
	  text-align: left;
	  color: @wet-asphalt;
	  border: 1px solid @wet-asphalt;
	  &.dropdown-toggle{
	  background-color: #f0f0f0;
	  }
	  &.btn-success{
		text-align: center;
		color: white;
		border: none;
	  }
	  span{
		position: absolute;
		top: 20px;
		right: 15px;
	  }
	}
	.dropdown-menu{
	  width: 100%;
	  position: absolute;
	  margin-top: 0;
	  padding: 10px 15px;
	  overflow: hidden;
	  height: auto;
	  left: 0;
	  top: 48px;
	  .list{
		width: 25%;
		float: left;
	  }
	}
	.list{
	  max-height: 200px;
	  overflow-y: auto;
	  margin-top: 10px;
	}
	&.btn-list .btn{
	  background-color: #f0f0f0;
	  &:hover{
		cursor: default;
	  }
	  label{
		width: 505px;
		max-width: 505px;
		&:hover{
		  cursor: pointer;
		}
	  }
	}
  }
}



.list-item{
  padding-top: 5px;
  border-top: 1px solid #ddd;
  .icheckbox_minimal-blue,
  .iradio_minimal-blue{
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: top;
	margin-top: 8px;
  }
  &:first-child{
	border: none;
  }
  label{
	white-space: normal;
  }
}
#modalNoConnection .class {
  display:none;
}

#home, #task, #sign{
  padding-top: 90px;
}

.todo{
  height: 635px;
  background-color: @midnight-blue;
  .border-shadow;
  .todo-search{
	background: @midnight-blue;
	padding: 19px 15px 20px;
	position: relative;
	display: block;
	.search-btn{
	  width: 40px;
	  height: 40px;
	  position: absolute;
	  top: 19px;
	  right: 15px;
	  background-color: transparent;
	}
	.todo-search-field{
	  background-color: #fff;
	  border-radius: 4px;
	  width: 100%;
	  padding: 5px 10px;
	  height: 40px;
	  font-size: 15px;
	  line-height: 1.467;
	  font-weight: normal;
	}
  }
  ul{
	max-height: 576px;
  	height:500px;
	overflow: hidden;
	overflow-y: auto;
	li{
	  &:last-child{
	  	.border-shadow;
	  }
	  &:after{
		display: none;
	  }
	  .todo-content{
		span{
		  position: absolute;
		  top: 18px;
		  right: 21px;
		  color: white;
		  font-size: 30px;
		  display: none;
		}
	  }
	  &.danger{
		span{
		  display: block;
		}
	  }
	  &.todo-done.error{
		&:after {
		  content: "\e609";
		  color: #2c3e50;
		  background-color: @green-sea;
	 	}
		.todo-content, .todo-name{
		  color: @green-sea;
		}
	  }
	}
  }
}

.hp-tile {
  background-color: #47637c;
  position: relative;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 20px;
  min-height: 250.333px;
  overflow: hidden;
  .border-shadow;
  h4{
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 26px;
	color: white;
  }
  p{
	font-size: 16px;
	margin-bottom: 0;
	color: #ddd;
	span{
	  font-size: 13px;
	}
	&.p-small{
	  font-size: 15px;
	  line-height: 21px;
	}
  }
  table{
	font-size: 13px;
	color: #ddd;
	tr{
	  td{
		padding: 2px 1px;
		line-height: 13px;
		&.hour{
		  padding: 3px;
		  font-size: 12px;
		  line-height: 13px;
		  background-color: #3b536b;
		  color: #96a8b9;
		}
	  }
	}
  }
  ul, ol{
	padding-left: 20px;
	font-size: 16px;
	margin-bottom: 0;
	color: #ddd;
  }
  label{
	color: #96a8b9;
  }
  .image{
	float: left;
	display: block;
	margin-right: 20px;
	img{
	  height: auto;
	  width: 55px;
	}
  }
  .content{
	float: left;
	display: block;
	color: white;
	width: 195px;
	max-height: 188px;
	overflow-y: auto;
  }
  .btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	text-transform: uppercase;
	.border-shadow;
	span{
	  margin-left: 10px;
	}
  }
}

#editHours{
  .form-group{
	margin-bottom: 10px;
  }
}

.hp-btn {
  margin-top: 10px;
  min-height: 96px;
  position: relative;
  padding-top: 57px;
  &.btn-warning{
	background-color: @orange;
	&:hover{
	  background-color: @sun-flower;
	}
  }
  span{
	position: absolute!important;
	top: 20px!important;
	bottom: auto!important;
	left: 0!important;
	right: 0!important;
	margin: auto!important;
	font-size: 30px;
	line-height: 30px;
	width: 30px;
	height: 30px;
  }
}

#task{
  .todo{
	ul.missions-list{
	  max-height: 504px;
	  overflow: hidden;
	  overflow-y: auto;
	  padding: 0;
	  > li{
		padding: 20px 0 0;
		h3{
		  font-size: 24px;
		  margin-top: 0;
		  margin-bottom: 20px;
		  padding-left: 15px;
		  color: #fff;
		  position: relative;
		  padding-right: 10%;
		  &:after{
			content: '';
			position: absolute;
			height: 1px;
			width: 100%;
			bottom: -20px;
			left: 0;
			background-color: #182532;
		  }
		  span{
			float: right;
			//margin-right: 26px;
			margin-top: 10px;
		  }
		}
		&:after{
		  display: none;
		}
		&:hover{
		  background-color: #34495e;
		}
		> ul {
		  max-height: none;
		  > li{
		  padding-top: 13px;
		  padding-bottom: 16px;
		  h4{
			color: #798795;
			&:hover{
			  color: #1abc9c;
			}
		  }
		  &.todo-done h4{
			color: #1abc9c;
		  }
		 }
		}
	  }
	}
	.btn-success{
	  margin-top: 15px;
	  margin-left: 15px;
	  margin-right: 15px;
	  width: 281.333px;
	  background-color: transparent;
	  border: 1px solid #fff;
	  border-style: inset;
	  &.active{
		background-color: #48c9b0;
		border: none;
		.border-shadow;
		&:hover{
		  background-color: #20d7b6;
		}
	  }
	}
  }
  ul{
	li{
	  &:after{
		display: block;
	  }
	}
  }
  .tile-content{
	height: 552.666px;
	overflow: hidden;
	overflow-y: auto;
	.hp-tile{
	  min-height: 10px;
	  .list-item{
		border-color: #34495e;
	  }
	  i{
		float: left;
		margin-top: 4px;
		margin-right: 15px;
	  }
	  h4{
		font-size: 16px;
		margin-bottom: 0;
		float: left;
		max-width: 255px;
	  }
	  label{
		width: 250px;
		max-width: 250px;
		&:hover{
		  cursor: pointer;
		}
	  }
	  .col-sm-6{
		line-height: normal;
	  }
	  .form-control{
		border: none;
	  }
	  .btn{
		position: relative;
	  }
	  .hp-btn{
		position: relative;
		margin-top: 0;
		min-height: 4px;
		padding-top: 7px;
		padding-bottom: 8px;
		border-radius: 6px;
		background-color: transparent;
		border: 1px solid #fff;
		border-style: inset;
		&.btn-success{
		  &.active {
		  background-color: #48c9b0;
			border: none;
			padding-top: 8px;
			padding-bottom: 9px;
			&:hover{
			  background-color: #20d7b6;
			}
		  }
		}
		&.btn-info{
		  &.active {
			background-color: #5dade2;
			border: none;
			padding-top: 8px;
			padding-bottom: 9px;
			&:hover{
			  background-color: #32ceed;
			}
		  }
		}
		&.btn-danger{
		  &.active {
			background-color: #FF3366;
			border: none;
			padding-top: 8px;
			padding-bottom: 9px;
			&:hover{
			  background-color: #ff6f93;
			}
		  }
		}
		span{
		  top: 0!important;
		  bottom: 0!important;
		  right: 10px!important;
		  left: auto!important;
		  margin: auto!important;
		}
	  }
	  .btn-gray-light{
		background-color: #2c3e50;
		color: #fff;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-top: 1px;
		&:hover{
		  cursor: default;
		}
	  }
	  .btn-info.btn-circle{
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-top: 1px;
	  }
	  input[type="file"]{
		margin-bottom: 15px;
		max-width: 290px;
	  }
	}
  }
}


#sign{
	.reason {
		margin-left: 5px;
		padding-left:5px !important;
		font-size:14px;
		float:left;
		width: 100%;
	}
  .tile-content{
	height: 657px;
	overflow: hidden;
	overflow-y: auto;
	.hp-tile{
	  min-height: 10px;
	  h4{
		font-size: 24px;
	  }
	  h5{
		font-size: 22px;
		padding-left: 15px;
	  }
	  h6{
		font-size: 20px;
		padding-left: 30px;
	  }
	  p{
		padding-left: 45px;
	  	float:right;
	  }
	  .galerie{
		padding-left: 30px;
		width: 600px;
		a{
		  margin-bottom: 15px;
		  display: block;
		}
	  }
	  ul, ol{
		padding-left: 60px;
	  }
	  &:last-child{
	  	margin-bottom: 0;
	  }
	  .content{
		width: auto;
		max-height: none;
	  }
	}
  }
  .todo{
	height: auto;
	background-color: @wet-asphalt;
	overflow: hidden;
	.signature{
	  border: 1px solid @midnight-blue;
	  margin: 15px;
	  padding: 5px;
	  border-radius: 4px;
	  min-height: 150px;
	  background-color: #fff;
	  color: #aaa;
	}
	.btn-success{
	  margin-bottom: 15px;
	  margin-left: 15px;
	  margin-right: 15px;
	  width: 281.333px;
	  background-color: transparent;
	  border: 1px solid #fff;
	  border-style: inset;
	  &.active{
		background-color: #48c9b0;
		border: none;
		.border-shadow;
		&:hover{
		  background-color: #20d7b6;
		}
	  }
	  span{
		margin-left: 5px;
	  }
	}
  }
  .hp-btn {
	min-height: 4px;
	padding-top: 10px;
	margin-top: 0;
	span{
	  top: 0 !important;
	  bottom: 0 !important;
	  left: auto !important;
	  right: 25px !important;
	  font-size: 20px;
	  line-height: 20px;
	  width: 20px;
	  height: 20px;
	}
  }
}

.btn.btn-lg.pharmacyList,ul#pharmacie-list,.task_panel.active {
	-webkit-overflow-scrolling: touch;
}

