<section id="login">
	<h2>{{"Demande écrite d\'échantillons"|t}}</h2>
	<form action="?#!Prescription!step1" method="GET">
		<input name="id" type="text" placeholder="User ID" ></input>
		<input name="pin" type="password" placeholder="Password"></input>
		<input type="submit" ></input>
	</form>
</section>