<section id="login">
	<h2>{{"Demande écrite d\'échantillons"|t}}</h2>
		<input name="id" type="text" placeholder="User ID" value="{{username}}"/>
		<input name="pin" type="password" placeholder="Password"/>
		<input type="submit" value="{{'Valider'|t}}" class="action" data-action="Login.login()" />

</section>