{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - product
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View product <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ product.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Ean</strong></p>
        <p>
            {{ product.ean }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Name</strong></p>
        <p>
            {{ product.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Date</strong></p>
        <p>
            {% if product.date %}{{ product.date|date('Y-m-d') }}{% endif %}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('products') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('products_edit', { 'id':  product.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('products_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('products_delete', { 'id': product.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

