<section id="subscription" class="page login-content active">
	STEP 3 SELECT DELIVERY
	<br/>
	<a class="btn btn-primary" href="#!Prescription!thanks" > GO TO THANKS </a>
	
	{# Part III #}
	<fieldset>
		<legend>Date de livraison</legend>
		<table>
			<th></th>
			<th>Lun</th>
			<th>Mar</th>
			<th>Mer</th>
			<th>Jeu</th>
			<th>Ven</th>
		
			<tr>
				<td>AM</td>
				{% for i in range(5) %}
					<td>e</td>
				{% endfor %}
			</tr>
			<tr>
				<td>PM</td>
				{% for i in range(5) %}
					<td>e</td>
				{% endfor %}
			</tr>
		</table>
	</fieldset>
	<br>
	<p>
		AM: 8.00 - 12.00<br>
		PM: 13.00 - 17.00
	</p>
</section>