<section id="thanks" class="page login-content active">
	<h2>Récapitulatif de votre commande</h2>
	<table>
		<th>Numéro INAMI</th>
		<th>Prescripteur</th>
		<th>Echantillons</th>
		<th>Quantité</th>
		{% for i in range(10) %}
			<tr>
				<td>14 2545 352488</td>
				<td>Jean Louise</td>
				<td>Spiolto Respimat/4ML 1/2,5+2,5MCG</td>
				<td>5</td>
			</tr>
		{% endfor %}
	</table>
</section>