{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} -  Edit prescription
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>Edit prescription <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
    </div>
</div>



<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>


    

    {{ form_start(edit_form) }}

	

	<p> Produits </p>
    {{ form_widget(edit_form) }}
	
	{% for tag in edit_form.productToPrescriptions %}
			{{form_row(tag.product)}}
            {{ form_row(tag.quantity) }}
			
	{% endfor %}
	
	
    <p>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
        </button>
    </p>
    {{ form_end(edit_form) }}

    <hr/>

    
<div class="form-group">
    <a class="btn btn-default" href="{{ path('prescriptions') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-info" href="{{ path('prescriptions_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('prescriptions_delete', { 'id': prescription.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>

</div>


{% endblock %}

