{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - prescription index
{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2><a href="{{ path('prescriptions') }}">Prescriptions</a></h2>
        </div>
    </div>       

<!-- FILTERING -->
<div class="col-md-12">
    <div  id="filters" class="collapse">

        <form class="well" action="{{ path('prescriptions') }}" method="get" >
            <div class="row">
                 
                    <div class="col-md-3">{{ form_row(filterForm.id) }}</div>
					<div class="col-md-6"></div>
                 
                    <div class="col-md-3">{{ form_row(filterForm.date) }}</div>

                                <div class="col-md-6">
                    {{ form_rest(filterForm) }}
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>
                        <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Reset</button>
                    </div>
                </div>
            </div>
        </form>
		
    </div>
</div>
<!-- END FILTERING -->


<div class="col-md-3 pull-left">
        
    <!-- PAGE SIZE -->
    <div class="pagination form-inline ">
        <select class = "form-control"  onchange="window.location = this.value" >
            <option value='{{ path('prescriptions', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
            <option value='{{ path('prescriptions', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
            <option value='{{ path('prescriptions', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
            <option value='{{ path('prescriptions', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
            <option value='{{ path('prescriptions', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
        </select>
    </div>
    <!-- END PAGE SIZE -->

</div>

<div class="col-md-6">


</div>

<div class="col-md-3">

        <a class="btn dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">
        Filter
        <span class="caret"></span>
    </a>
</div>







   {# <div class="col-md-12">
        {%- if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
    </div>
	#}

</div> <!-- /#top -->


<div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

<div class="row">

        <div class="table-responsive col-md-12">
        <form method="POST" id="bulk_form" action="{{ path('prescriptions_bulk_action') }} ">
            <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                    		<th>{{macros.th_sortable('representative',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'prescriptions')}}</th>
                            <th>{{macros.th_sortable('address',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'prescriptions')}}</th>
							
							<th>Products</th>
							<th>Doctor</th>
							
							<th>{{macros.th_sortable('date',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'prescriptions')}}</th>
							<th>View </th>
                       
                       
                    </tr>
                </thead>
                <tbody>
                    {% for prescription in prescriptions %}
                    <tr>
                        <td><a href="{{ path('prescriptions_edit', { 'id': prescription.id }) }}">{{ prescription.id }}</a></td>
						<td>{{prescription.representative.username}}</td>
						<td>{{prescription.address.address}}</td>
						<td>
							<ul>
							{% for products in prescription.productToPrescriptions %}
								<li>{{products.quantity}}x {{products.product.name}}</li>
							{% endfor %}
							</ul>
							
						</td>
						<td>
							{{prescription.doctor.firstname}}  {{prescription.doctor.lastname}}
						</td>
                        <td>{%- if prescription.date %}{{ prescription.date|date('Y-m-d') }}{% endif %}</td>
						<td><a href="{{ path('prescriptions_show', { 'id': prescription.id }) }}">View</a></td>
                      


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>


        </div>
</div> <!-- /#list -->




<div class="row">
    <div class="col-md-4 pull-left">
        
    </div>
    
    <div class='col-md-3 pagination text-center'>
         <p>{{totalOfRecordsString}}</p>
    </div>
 
    <div class="col-md-5 text-right">
         {{ pagerHtml|raw }} 
    </div>
</div> <!-- /#bottom -->



{% endblock %}

