{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - prescription
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View prescription <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
		<p><strong>Rep</strong></p>
        <p>
           {{prescription.representative.username}}
        </p>
		<p><strong>Doctor</strong></p>
        <p>
			{{prescription.doctor.firstname}} {{prescription.doctor.lastname}}
			<br/>{{prescription.doctor.onekey}}
			<br/>{{prescription.doctor.inami}}

		</p>
		<p><strong>Date</strong></p>
        <p>
            {% if prescription.date %}{{ prescription.date|date('Y-m-d') }}{% endif %}
        </p>
	   <p><strong>Address</strong></p>
        <p>		
           {{ prescription.addressDelivery.address }} {{ prescription.addressDelivery.number }}, {{ prescription.addressDelivery.city }} {{ prescription.addressDelivery.zip }}
        </p>

    </div>
</div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('prescriptions') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('prescriptions_edit', { 'id':  prescription.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <form action="{{ path('prescriptions_delete', { 'id': prescription.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

