<?xml version="1.0" encoding="utf-8"?>
<Envelope>
  <deliveryRequests xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <headerFile>
      <sender>BOE</sender>
      <receiver>DHLPL</receiver>
      <typeFile>MVT000</typeFile>
      <versionFile>V06</versionFile>
      <releaseFile>R01</releaseFile>
      <dateSent>{{date}}</dateSent>
      <timeSent>{{time}}</timeSent>
      <incomingFileName>MVT000_01_000084_{{date}}_{{time|replace({':':'_'})}}_{{ '%06d'|format(prescription.id) }}_{{user.username}}_.xml</incomingFileName>
    </headerFile>
    <deliveryRequest>
      <headerDeliveryRequest>
        <deliveryRequestId>{{ '%06d'|format(prescription.id) }}</deliveryRequestId>
        <deliveryRequestIdDate>{{date}}</deliveryRequestIdDate>
        <isTestFlag>Yes</isTestFlag>
        <cdPriorityExternal>02</cdPriorityExternal>
        <cdTransportConditionExternal>02</cdTransportConditionExternal>
        <isResponseRequested>Yes</isResponseRequested>
        <requestedDeliveryDate>{{date}}</requestedDeliveryDate>
        <requestedDeliveryTime />
        <requestedDispatchDate />
        <isPickUp>NO</isPickUp>
        <isForcedPalet>NO</isForcedPalet>
		<cdTransportMethodExternal>0{{prescription.deliveryMode}}</cdTransportMethodExternal>
        <cdDocumentTypeExternal>DLYSAMC</cdDocumentTypeExternal>
        <initialOrderId />
        <orderIdFinalCustomer>FR/{{prescription.id}}</orderIdFinalCustomer>
        <termsOfDelivery />
        <cdTypeOfDeliveryExternal>DLYSAMC</cdTypeOfDeliveryExternal>
        <cdCompany>01</cdCompany>
        <cdDepositor>000084</cdDepositor>
        <cdGroup />
        <cdEntity>BOE</cdEntity>
        <narcotics>
          <narcoticsCustomerData></narcoticsCustomerData>
          <narcoticsDeliveryRequestIdData></narcoticsDeliveryRequestIdData>
        </narcotics>
		<deliveryCalendar>
			{% for keys,day in days %}
				<dayTimesOfWeek>
					<dayOfWeek>{{keys+1}}</dayOfWeek>
					{#MORNING#}
					{%if day.am.1 is defined or day.am.2 is defined %}
						{%if day.am.1 is defined %}
							<time1>
								<time1From>08:00:00</time1From>
								<time1To>10:00:00</time1To>
							</time1>
						{%endif%}
						
						{%if day.am.2 is defined %}
							<time1>
								<time1From>10:00:00</time1From>
								<time1To>12:00:00</time1To>
							</time1>
						{%endif%}
					{% elseif  day.am is defined %}
						<time1>
						<time1From>08:00:00</time1From>
						<time1To>12:00:00</time1To>
					</time1>
					{%endif%}
					{#AFTERNOON#}
					{% set timeIndex=1 %}
					{% if day.am.1 is defined or day.am.2 is defined %}
						{% set timeIndex=2 %}
					{%endif%}
					
					
					
					{%if day.pm.1 is defined or day.pm.2 is defined %}
						{%if day.pm.1 is defined %}
							<time{{timeIndex}}>
								<time{{timeIndex}}From>12:00:00</time{{timeIndex}}From>
								<time{{timeIndex}}To>14:00:00</time{{timeIndex}}To>
							</time{{timeIndex}}>
						{%endif%}
						
						{%if day.pm.2 is defined %}
							<time{{timeIndex}}>
								<time{{timeIndex}}From>14:00:00</time{{timeIndex}}From>
								<time{{timeIndex}}To>16:00:00</time{{timeIndex}}To>
							</time{{timeIndex}}>
						{%endif%}
					{% elseif   day.pm is defined %}
						<time1>
						<time1From>12:00:00</time1From>
						<time1To>16:00:00</time1To>
					</time1>
					{%endif%}
				</dayTimesOfWeek>
			{% endfor %}
		</deliveryCalendar>
        <deliveryCustomer>
          <partnerCode>{{doctor.onekey|slice(4, 12)}}</partnerCode>
          <companyName>{%if doctor.hospital%}{{doctor.hospital}}{%else%}Dr {{doctor.firstname}} {{doctor.lastname}}{%endif%}</companyName>
          <departmentAddressed>{%if doctor.hospital%}Dr {{doctor.firstname}} {{doctor.lastname}} {{prescription.service}} {%endif%}</departmentAddressed>
          <contactPerson>{{doctor.firstname}} {{doctor.lastname}}</contactPerson>
          <street>{{address.address}}</street>
          <streetExtension />
          <number>{{address.number}}</number>
          <box />
          <postCode>{{address.zip}}</postCode>
          <town>{{address.city}}</town>
          <countryText>BE</countryText>
          <countryIso2>BE</countryIso2>
          <countryIso3 />
          <cdLanguageExternal>FR</cdLanguageExternal>
          <comment />
          <email>{{user.email}};MEDsamplesdistribution.BE@boehringer-ingelheim.com</email>
          <phone />
          <vatNumber />
          <customerTypeExternal>02</customerTypeExternal>
        </deliveryCustomer>
      </headerDeliveryRequest>
	  {% for p in products %}
		  <detailDeliveryRequest>
			<deliveryRequestDet>000010</deliveryRequestDet>
			<material>{{p.product.ean}}</material>
			<materialDescription>{{p.product.name}}</materialDescription>
			<QtyToPic>{{p.quantity}}</QtyToPic>
			<QtyOrdered />
			<QtyBo />
			<batchRequested></batchRequested>
			<paletIdRequested />
			<expiryDateRequested />
			<lineReference />
			<langRequested />
			<warehouseRequested />
			<cdCommercialDocumentTypeExternal />
		  </detailDeliveryRequest>
	  {% endfor %}
    </deliveryRequest>
  </deliveryRequests>
</Envelope>