	<table>
		{#<th>{{'SKU'|t}}</th>#}
		<th>{{'Prescripteur'|t}}</th>
		<th>{{'Echantillons'|t}}</th>
		<th>{{'Quantite'|t}}</th>
		{% for i,product in products %}
			<tr>
				{#<td>{{product.productId}}</td>#}
				<td>{{representative.username}}</td>
				<td>{{product.name}}</td>
				<td>{{product.quantity}}</td>
			</tr>
		{% endfor %}
	</table>