<section id="login">
	<h2> Select Delegate </h2>
	<select id="delegateChoice" style="border-radius:10px;padding:15px;border:1px solid #004181" >
	<option></option>
	{% for del in delegate %}
		<option value="{{del.id}}">{{del.username}}</option>
	{% endfor%}
	</select>
</section>