<section id="subscription" class="page login-content active">
	{% include '/includes/topbar.twig' %}
	<form id="wizard">
	{% for index,product in products %}
		{{ index }}
	{% endfor %}
	{% include '/includes/part1.twig' %}
	{% include '/includes/part2.twig' %}
	{% include '/includes/part3.twig' %}
	{% include '/includes/resume.twig' %}
	
	</form>
</section>