<section id="subscription" class="page login-content active">
	STEP 2 SELECT PRODUCT
	<br/>
	<a class="btn btn-primary" href="#!Prescription!step3" >{{ 'Aller à l\' étape'|t }} 3</a>
	
	{# Part II #}
	<fieldset>
		<legend>Séléction des échantillons</legend>
		<table>
			<th>{{'SKU'|t}}</th>
			<th>{{'Echantillons'|t}}</th>
			<th>{{'Quantite'|t}}</th>
			{% for i in range(11) %}
				<tr>
					<td>109062</td>
					<td>Spiolto Respimat/4ML 1/2,5+2,5MCG</td>
					{% set l = 10 %}
					<td>
						<select>
						{% for i in range(0,l+1) %}
							<option>{{i}}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
			{% endfor %}
		</table>
	</fieldset>
</section>