

{% extends 'base_login.twig' %}

{% block title %}
{{ parent() }} - doctor index
{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue to e-Prescription</h1>
            <div class="account-wall">


				
				


			<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
				
				{% if error %}
					<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				
				{% if csrf_token %}
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				{% endif %}

				
				<input class="form-control" placeholder="Email" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

				
				<input class="form-control" placeholder="Password" type="password" id="password" name="_password" required="required" />

				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">Remember me</label>

				<input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Login" />
			</form>
				
				
				
            </div>
            
        </div>
    </div>
</div>



{% endblock %}




