{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} -  Edit userToProduct
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>Edit userToProduct <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h2>
    </div>
</div>



<div class="row">
    <div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update
        </button>
    </p>
    {{ form_end(edit_form) }}

    <hr/>

    
<div class="form-group">
    <a class="btn btn-default" href="{{ path('usertoproducts') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
</div>

</div>


{% endblock %}

