{# Part III #}
<fieldset>
	<legend>Date de livraison</legend>
	<table>
		<th></th>
		<th>Lun</th>
		<th>Mar</th>
		<th>Mer</th>
		<th>Jeu</th>
		<th>Ven</th>
	
		<tr>
			<th>AM</th>
			{% for i in range(5) %}
				<td class="check-day"></td>
			{% endfor %}
		</tr>
		<tr>
			<th>PM</th>
			{% for i in range(5) %}
				<td class="check-day"></td>
			{% endfor %}
		</tr>
	</table>
<br>
<p>
	AM: 8.00 - 12.00<br>
	PM: 13.00 - 17.00
</p>
</fieldset>