{# Part I #}
<fieldset id="part1">
	<legend>{{'Coordonnées de l\'utilisateur'|t}}</legend>
	<div class="row">
		<div class="col-md-9">
			<label>{{'Prescripteur'|t}} :</label>
			<input type="text" name="prescripteur" autocomplete="on" placeholder="{{'Prescripteur'|t}}">
		</div>
		<div class="col-md-3">
			<label>Reps ID :</label>
			<input type="text" name="id" autocomplete="on" placeholder="Reps ID">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>{{'Nom'|t}} :</label>
			<input type="text" name="nom" autocomplete="on" placeholder="{{'Nom'|t}}">
		</div>
		<div class="col-md-6">
			<label>{{'Prenom'|t}} :</label>
			<input type="text" name="prenom" autocomplete="on" placeholder="{{'Prenom'|t}}">
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label>{{'Rue'|t}} :</label>
			<input type="text" name="street" autocomplete="on" placeholder="{{'Rue'|t}}">
		</div>
		<div class="col-md-1">
			<label>N° :</label>
			<input type="text" name="number" autocomplete="on" placeholder="N°">
		</div>
		<div class="col-md-1">
			<label>Boite° :</label>
			<input type="text" name="box" autocomplete="on" placeholder="Boite">
		</div>
		<div class="col-md-3">
			<label>{{'Ville'|t}} :</label>
			<input type="text" name="city" autocomplete="on" placeholder="{{'Ville'|t}}">
		</div>
		<div class="col-md-2">
			<label>{{'Code postal'|t}} :</label>
			<input type="text" name="postal" autocomplete="on" placeholder="{{'Code postal'|t}}">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label>{{'Numero INAMI'|t}} :</label>
			<input type="text" name="inami" autocomplete="on" readonly  placeholder="{{'Numero INAMI'|t}}">
		</div>
	</div>
</fieldset>