{# Part II #}
<fieldset>
	<legend>Séléction des échantillons</legend>
	<table class="alternate">
		<th></th>
		<th>{{'Echantillons'|t}}</th>
		<th>{{'Quantite'|t}}</th>
		{% for i in range(8) %}
			<tr>
				<td>109062</td>
				<td>Spiolto Respimat/4ML 1/2,5+2,5MCG</td>
				{% set l = 10 %}
				<td class="select-parent">
					<select>
					{% for i in range(0,l+1) %}
						<option>{{i}}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
		{% endfor %}
	</table>
</fieldset>