{% set user = "jean Miche Delise" %}

<nav id="topbar">
    <span id="appName">Boehringer</span>
    <span id="version">V0.2</span>
    <span id="user">
        connected as
        <strong>{{ user }}</strong>
    </span>
    <span style="float: right;">
    	<span id="quit" onclick="Prescription.logout();">Log out<i class="fa fa-sign-out"></i></span>
	</span>
</nav>
