html{
	font-size: 16px;
}
body{
	width: @width;
	height: @height;
	//position: relative;
	overflow: hidden;
	background-color: @color1;
}

*{
	color: @color2;
	font-family: BISansNEXT;
	//.rounded(0)!important;
}

h2{
	font-size: 1.8rem;
}

table.alternate{
	tr{
		&:nth-child(even){
			background-color: lighten(lightgrey,13%);
		}
	}
}

@padding: 10px;

.sf-nav-number,
.sf-nav-number-inner,
.sf-nav-subtext{
	color: white;
}

#topbar{
	border-bottom: solid 1px @color2;
	padding: 5px 0;
	margin-bottom: 15px;
	#appName{
		font-size: 1.2rem;
		font-weight: 700;
	}
	#user{
		margin-left: 30%;
	}
	#quit{
		i{
			font-size: 1.2rem;
			margin-left: 10px;
		}
	}
}

#login{
	.form .style1(40%);
	.translate(0,-50%);
	margin-top: 30%;
	INPUT{
		margin-top: 20px;
	}
}
#subscription{
	padding: @padding;
	.form .style1(90%);
	
	table{
		//margin-top: 50px;
		.table .style1;
	}
	.finish-btn{padding: 0;}
	.select-parent{
		padding: 0;
		SELECT{
			padding: @padding;
		}
	}
	INPUT[type='submit']{
		display: none;
		width: 110px;
	}
}
legend{
	color: @color2;
}

.check-day{
	position: relative;
	&.active{
		//background-color: @color2;
		//border-color: white!important;
		&:before{
			content: "X";
		    position: absolute;
		    left: 50%;
		    right: 50%;
		    .translate(-50%,-50%);
		}
	}
}


#part1{
	.row{
		margin-top: 10px;
	}
}
#thanks{
	.form .style1(50%);
	
	table{
		margin-top: 50px;
		.table .style1;
	}
}
#logo{
	background-image: url(../img/BI_Logo.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 5%;
	bottom: 40px;
	width: 170px;
	height: 50px;
}

#lang{
	//width: 10%;
	position: absolute;
	left: 0;
	margin-left: 6%;
	padding: 0;
	bottom: 30px;
	background-color: @color1;
	li{
		display: inline-block;
		padding: 15px;
		border: solid 1px @color2;
		border-radius: 5px;
		&.active{
			background-color: @color2;
			color: white;
		}
	}
}

.sf-t2{
	.sf-nav{
		li{
			border: solid 1px @color2;
			background-color: white;
			.sf-nav-number{
				color: @color2;
				.sf-nav-number-inner{
					font-size: 40px;
				}
			}
			.sf-nav-number,
			.sf-nav-number-inner,
			.sf-nav-subtext{
				color: @color2;
			}
			&.sf-active{
				background-color: @color2;
				color: white;
				.sf-nav-number,
				.sf-nav-number-inner,
				.sf-nav-subtext{
					color: white;
				}
				&:after{
					border-color: transparent @color2 @color2 transparent!important;
				}
			}
		}
	}
}
.sf-btn.sf-btn-next,
.sf-btn.sf-btn-prev{
	background-color: @color2!important;
}
.sf-t1 .sf-nav li,
.sf-t1 .sf-nav-number{
	background-color: @color2!important;
	&:before{
	    border-top-color: @color2!important;
	    border-bottom-color: @color2!important;
	}
	&:after{
	    border-left-color: @color2!important;
	}
}