@media (max-width: 720px ){
	html{
		font-size: 10px;
	}
	#login{
		.form .style1(80%);
		.translate(0,-50%);
		margin-top: 30%;
		INPUT{
			margin-top: 20px;
		}
	}
	#logo{
		right: 26%;
	    bottom: 25px;
	    .scale(0.7);
	}

	@padding: 3px;

	#subscription{
		padding: @padding;
		.finish-btn{padding: 0;}
		.select-parent{
			padding: 0;
			SELECT{
				padding: @padding;
			}
		}
	}
	.sf-viewport .sf-step-name{
		font-size: 1.5rem;
	}
	#lang{
		bottom: 20px;
		li{
			padding: 10px;
		}
	}
	.sf-t2{
		.sf-nav{
			li{
				width: 50px;
				height: 50px;
				line-height: 50px;
			}
		}
		.sf-nav-number{
			font-size: 55px;
		} 
	}
	.sf-nav-wrap.sf-nav-left li,
	.sf-nav-wrap.sf-nav-right li {
    	margin-bottom: 7px;
	}

}