<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:90%" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{"Signature"|t}}</h4>
      </div>
      <div class="modal-body" >
       <div  class="signature">
                            <br>

                            
                            </div>
      </div>
      <div class="modal-footer">
		<p style="font-size:20px">I hereby certify that I have requested the listed Samples and Quantities.</p>
		<button type="button" class="btn btn-default action" data-action="Prescription.submit()" data-dismiss="modal">{{'Valider'|t}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		
      </div>
    </div>

  </div>
</div>