<div id="header" class="row">
    <div class="col-xs-12">
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand change_page goto" data-class="home">Redcheck <small style="font-size:9px">v0.6</small></a>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">

                    {% if title %}
                        <li>
                            <a onclick="window.history.back()"  class="back-btn"><span class="fui-arrow-left"></span></a>
                        </li>
                        <li>
                            <a style="width: 280px" onclick="window.history.back()" class="pharma-title">{{ apb }} / {{ title }}</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="documentBtn" style="display: none"><a href="" class="doc"><span class="fui-document"></span></a></li>
                    <li><a href="" id="timer" class="timer"></a></li>
                    <li style="margin-top: 15px;color:white;font-size:14px"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{ merchandiser }} / {{ zone }}</li>
                    <li style="margin-left:15px; margin-top: 15px;color:white;font-size:14px"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +32 (0) 2 213 07 13</li>
                    <li><a data-action="Login.logout()" style="cursor:pointer" class="exit action" data-class="login"><span class="fui-exit"></span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
    </div>
</div>
{% block content %}

{% endblock %}
