{# Part I #}
<fieldset id="part1">
	<legend>{{'Coordonnées de l\'utilisateur'|t}}</legend>
	<div class="row">
		<div class="col-md-9">
			<label>{{'Prescripteur'|t}} :</label>
			<input type="text" name="prescripteur" autocomplete="on" placeholder="{{'Prescripteur'|t}}" value="{{ user.username }}" readonly="readonly">
		</div>
		<div class="col-md-3">
			<label>Reps ID :</label>
			<input type="text" name="id" autocomplete="on" placeholder="Reps ID" value="{{ user.representativeId }}" readonly="readonly">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>{{'Nom'|t}} :</label>
			<input type="text" id="doctorAutocomplete" name="nom" autocomplete="on" placeholder="{{'Nom'|t}}">
		</div>
		<div class="col-md-6">
			<label>{{'Prenom'|t}} :</label>
			<input type="text" name="prenom" autocomplete="on" placeholder="{{'Prenom'|t}}">
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label>{{'Adresse de livraison'|t}} :</label>
			<input type="text" name="adresse" autocomplete="on" readonly placeholder="{{'Adresse de livraison'|t}}">
		</div>
		<div class="col-md-1">
			<label>{{'N°'|t}} :</label>
			<input type="text" name="number" autocomplete="on" readonly placeholder="">
		</div>
		<div class="col-md-1">
			<label>{{'Bte'|t}} :</label>
			<input type="text" name="box" autocomplete="on" readonly placeholder="">
		</div>
		<div class="col-md-3">
			<label>{{'Ville'|t}} :</label>
			<input type="text" name="city" autocomplete="on" readonly placeholder="{{'Ville'|t}}">
		</div>
		<div class="col-md-2">
			<label>{{'Code postal'|t}} :</label>
			<input type="text" name="postal" autocomplete="on" readonly placeholder="{{'Code postal'|t}}">
		</div>
	</div>
	{# <div>
		<label>{{'Adresse de livraison'|t}} :</label>
		<input type="text" name="adresse" autocomplete="on" readonly placeholder="{{'Adresse de livraison'|t}}">
	</div> #}
	<div class="row">
		<div class="col-md-4">
			<label>{{'Numero INAMI'|t}} :</label>
			<input type="text" name="inami" id="onekeyAutocomplete" autocomplete="on"  placeholder="{{'Numero INAMI'|t}}">
		</div>
		<div class="col-md-8">
			<div class="col-md-6">
				<input id="checkBox" type="checkbox">
				<label style="line-height: 35px;" for="checkBox">{{'service specifique'|t}}</label>
			</div>
			<div class="col-md-6 serviceWrapper" >
				<label>{{'Service'|t}} :</label>
				<input  type="text" name="service"/>
			</div>
		</div>
	</div>
	

</fieldset>