{# Part III #}
<fieldset>
	<legend>{{'Livraison'|t}}</legend>
	
	<table class="schedule">
		<th></th>
		<th>{{'lundi'|t}}</th>
		<th>{{'mardi'|t}}</th>
		<th>{{'mercredi'|t}}</th>
		<th>{{'jeudi'|t}}</th>
		<th>{{'vendredi'|t}}</th>
	
		<tr class="regular_schedule">
			<th>AM</th>
			{% for i in range(5) %}
				<td data-day="day-{{i}}-am" class="check-day">
				
				</td>
			{% endfor %}
		</tr>
		<tr class="regular_schedule">
			<th>PM</th>
			{% for i in range(5) %}
				<td data-day="day-{{i}}-pm" class="check-day"></td>
			{% endfor %}
		</tr>
		
		
		<tr class="advanced_schedule" style="display:none">
			<th>AM</th>
			{% for i in range(5) %}
				<td data-day="day-{{i}}-am" class="check-day">
				<input data-day="day-{{i}}-am" class="advanced_schedule_input" id="morning-first-{{i}}" type="checkbox" data-period="morning" data-subperiod="1" style="position:absolute;display:inline-block">
				<label style="line-height: 35px;" for="morning-first-{{i}}">08:00-10:00</label>
				<input data-day="day-{{i}}-am" class="advanced_schedule_input" id="morning-second-{{i}}" type="checkbox" data-period="morning" data-subperiod="2" style="position:absolute;display:inline-block">
				<label style="line-height: 35px;" for="morning-second-{{i}}">10:00-12:00</label>
				</td>
			{% endfor %}
		</tr>
		<tr class="advanced_schedule" style="display:none">
			<th>PM</th>
			{% for i in range(5) %}
				<td data-day="day-{{i}}-pm" class="check-day">
					<input data-day="day-{{i}}-pm" class="advanced_schedule_input" id="afternoon-first-{{i}}"  type="checkbox" data-period="afternoon" data-subperiod="1" style="position:absolute;display:inline-block">
					<label style="line-height: 35px;" for="afternoon-first-{{i}}">12:00-14:00</label>
					<input data-day="day-{{i}}-pm" class="advanced_schedule_input" id="afternoon-second-{{i}}" type="checkbox" data-period="afternoon" data-subperiod="2" style="position:absolute;display:inline-block">
					<label style="line-height: 35px;" for="afternoon-second-{{i}}">14:00-16:00</label>

				</td>
			{% endfor %}
		</tr>
		
	</table>
	<br>
	<button class="btn btn-default selectAll" type="submit">Select all</button>
	<br/>
	<br>
	<legend>{{'Adresse de livraison'|t}}</legend>
	<button class="btn btn-primary editAdresse">{{"Modifier l'adresse de livraison"|t}}</button>
	<br/>
	<div class="row editAdresse" style="display:none">
		<div class="col-md-5">
			<label>{{'Adresse de livraison'|t}} :</label>
			<input type="text" name="adresse_del" autocomplete="on" placeholder="{{'Adresse de livraison'|t}}">
		</div>
		<div class="col-md-1">
			<label>{{'N°'|t}} :</label>
			<input type="text" name="number_del" autocomplete="on" placeholder="">
		</div>
		<div class="col-md-1">
			<label>{{'Bte'|t}} :</label>
			<input type="text" name="box_del" autocomplete="on" placeholder="">
		</div>
		<div class="col-md-3">
			<label>{{'Ville'|t}} :</label>
			<input type="text" name="city_del" autocomplete="on" placeholder="{{'Ville'|t}}">
		</div>
		<div class="col-md-2">
			<label>{{'Code postal'|t}} :</label>
			<input type="text" name="postal_del" autocomplete="on" placeholder="{{'Code postal'|t}}">
		</div>
	</div>
</fieldset>