{# Part II #}
<fieldset>
	<legend>{{'Selection des echantillons'|t}}</legend>
	<table class="alternate products">
		<th>{{'SKU'|t}}</th>
		<th>{{'Echantillons'|t}}</th>
		<th>{{'Quantite'|t}}</th>
		<th>{{'Quantite délégué'|t}}</th>

		{% for product in products %}

			<tr>
				<td>{{ product.ean }}</td>
				<td>{{ product.name }}</td>
				{% set l = 8%}
				<td class="select-parent">
					<select data-id="{{product.id}}" class="product-quantity" data-name="{{product.name}}" data-product="{{ product.ean }}" >
						{{product.id}}
						{% if quantity[product.id] %}
							{% set l = 8-quantity[product.id] %}
						{%else%}
							{% set l = 8%}
						{%endif%}
						{% for i in range(0,l+1) %}
							<option>{{i}}</option>
						{% endfor %}
					</select>
				</td>
				<td></td>
			</tr>
		{% endfor %}

	</table>
</fieldset>