<table>
		{# <th>{{'SKU'|t}}</th> #}
		<th>{{'Echantillons'|t}}</th>
		<th>{{'Quantite'|t}}</th>
		<th>{{'Quantite délégué'|t}}Stock</th>
		{% for product in products %}
			{% set display=true %}
			{%if quantityDelegate[product.id] and quantityDelegate[product.id] >0 %}
				{% set display=true %}
			{%endif%}
			{%if display==true %}
				<tr>
					{#<td>{{ product.ean }}</td> #}
					<td>{{ product.name }} </td>
					{% set l = 8%}
					<td class="select-parent">
					{% if quantityDelegate[product.id] and quantityDelegate[product.id] > 0 %}

						<select data-id="{{product.id}}" class="product-quantity" data-name="{{product.name}}" data-product="{{ product.ean }}" >
							{{product.id}}
							{% if quantity[product.id] %}
								{% set l = 8-quantity[product.id] %}
							{%else%}
								{% set l = 8%}
							{%endif%}
								{% for i in range(0,l+1) %}
									<option>{{i}}</option>
								{% endfor %}
						</select>
					{%else%}
						{% if quantity[product.id] %}
								{% set l = 8-quantity[product.id] %}
						{%else%}
								{% set l = 8%}
						{%endif%}
							{{l}}
					{%endif%}
					</td>
					<td>{% if quantityDelegate[product.id] %} {{quantityDelegate[product.id]}} {%else%} 0 {% endif %}</td>
				</tr>
			{%endif%}
		{% endfor %}
		<table>