<fieldset>
	<legend>{{'Recapitulatif de votre commande'|t}}</legend>
	<div id="resume">
		<table class="alternate">
			{#<th>{{SKU|t}}</th>#}
			<th>Prescripteur</th>
			<th>Echantillons</th>
			<th>Quantité</th>
		</table>
	</div>
</fieldset>