<nav id="topbar">
    <span id="appName">Boehringer</span>
    <span id="version">V0.2</span>
    <span id="user">
        {{ 'Connecté en tant que'|t }}
        <strong>{{ user.username }}</strong>
    </span>
    <span style="float: right;">
    	<span id="quit" class="action" data-action="Login.logout();">{{'Déconnexion'|t}}<i class="fa fa-sign-out"></i></span>
	</span>
</nav>
