<script src="mcrypt.js"></script>
<script type="text/javascript" src="rijndael.js"></script>
<script>



var encrypted = 'cF/CYI/H/XNeP5G3B5kVaNzelKShyXUzBDZ2bEEZtuo=';
var key = 'AB1CD2EF3GH4IJ5KL6MN7OP8QR9ST0UW';
var iv = 'AB1CD2EF3GH4IJ5KL6MN7OP8QR9ST0UW';




var encrypted = btoa(mcrypt.Encrypt("Laurence",iv,key, 'rijndael-256', 'ecb'));
var decrypted = mcrypt.Decrypt(atob(encrypted), iv, key, 'rijndael-256', 'ecb');


console.log((encrypted));
console.log(decrypted);

</script>